body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.nav {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background: #000;
    text-decoration: none;
    float: left;
   

  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

.icon{
    float: right;
}